doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
    meta(http-equiv="Cache-Control", content="no-cache")
    meta(http-equiv="Pragma", content="no-cache")
    link(href="css/app.css", rel="stylesheet")
    title SavageApp
  body

    #head.bar.bar-nav
        h1.head__title.title SavageApp

    #main.content.content-padded
      .members
        .members-headline
          h2.members-headline__title メンバーリスト

          p.members-headline__lead サバゲ部のメンバーを管理できます

        .add-new-member
          a.btn.btn-primary.btn-block.btn-outlined
            .icon(class="icon-plus") メンバー追加

        ul.members-list
          li.members-list__member
            .member-summary
              .member-summary__name
              .member-summary__status
                .member-summary__status__action
                  .member-summary__checkbox
                .member-summary__status__action
                  a.member-summary__btn-edit 編集
            .member-edit
              .member-edit__name
                .member-edit__name__label 名前
                .member-edit__name__value
                  input(type="text")
              .member-edit__action
                .member-edit__action__btn.member-edit__action__btn--save
                  a.btn.btn-positive.btn-block.btn-outlined
                    .icon.icon-edit
                .member-edit__action__btn.member-edit__action__btn--delete
                  a.btn.btn-negative.btn-block.btn-outlined
                    .icon.icon-trash
                .member-edit__action__btn.member-edit__action__btn--close
                  a.btn.btn.btn-block.btn-outlined
                    .icon.icon-close

      .mail-template
        a.mail-template__button-create
          span 起床メール作成

        .mail-template
          .mail-template__heading
            h3.mail-template__heading-title 起床メールを作成しました
            .mail-template__heading-extra
              a.mail-template__button-closeMailForm

          .mail-template__text
            p 選択ボタンをクリックするとテキストが選択されるので、コピーしてご利用ください。
          .mail-template__textarea
            textarea(readonly)
          .mail-template__buttons
            a.mail-template__button-select テキストを選択する

    #foot
      .bar.bar-tab
        a.tab-item(data-href="#/")
          span.icon.icon-home
          span.tab-label メンバー
        a.tab-item(data-href="#/team/")
          span.icon.icon-list
          span.tab-label チーム分け
        a.tab-item(data-href="#/spy/")
          span.icon.icon-person
          span.tab-label スパイ戦

    script(src="//cdn.jsdelivr.net/ratchet/2.0.2/js/ratchet.min.js")
    script(src="js/app.js")

